# If this is your first time writing a language grammar, check out:
#   - http://manual.macromates.com/en/language_grammars

'scopeName': 'text.rid'
'name': 'rid'
'fileTypes': [
  'rid'
]
'patterns': [
  {
    'include': 'text.xml'
  }
]
