# If you want some examples of settings, check out:
# https://github.com/atom/language-gfm/blob/master/settings/gfm.cson

'.text.rid':
  'editor':
    'commentStart': '<!-- '
    'commentEnd': ' -->'
    'foldEndPattern': '^\\s*(</[^>]+>|[/%]>|-->)\\s*$'
    'increaseIndentPattern': '^\\s*<(([^!/?]|%)(?!.+?([/%]>|</.+?>))|[%!]--\\s*$)'
    'decreaseIndentPattern': '^\\s*(</[^>]+>|-->|--%>)'
